@font-face {
    font-family: elms-sans;
    src: url(./font.ttf);
}
@keyframes initial_window {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
html, body {
    padding: 0;
    margin: 0;
    background-color: #00A2E8;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content {
    font-family: elms-sans;
    margin-top: 50px;
    animation-name: initial_window;
    animation-duration: 1s;
    animation-iteration-count: initial;
}
.content .head {
    color: gray;
    font-size: 18px;
    display: flex;
    background-color: cyan;
    width: 750px;
    height: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 14px;
    padding-right: 14px;
}
.content .head .a {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    margin-right: 5px;
    cursor: default;
}
.content .head .b {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: darkorange;
    margin-right: 5px;
    cursor: default;
}
.content .head .c {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: green;
    margin-right: 10px;
    cursor: default;
}
.content .head p {
    margin: 0;
    cursor: default;
}
.content .body {
    background-color: white;
    width: 750px;
    height: 500px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 14px;
    padding-right: 14px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: default;
}
@media (max-width: 750px) {
    html, body {
        display: block;
    }
    .content .head {
        width: 100%;
    }
    .content .body {
        width: 100%;
    }
}
.content .body h1 {
    color: #00A2E8;
    font-size: 30px;
    margin-bottom: 5px;
    cursor: default;
}
.content .body .error {
    color: #f16262;
    font-size: 30px;
    margin-bottom: 5px;
    cursor: default;
}
.content .body h2 {
    margin-top: 0px;
    color: #00A2E8;
    font-size: 18px;
    cursor: default;
}
.content .body .input_text {
    color: #00A2E8;
    font-size: 15px;
    font-family: elms-sans;
    text-align: center;
    width: 250px;
    height: 25px;
    border-color: #00A2E8;
    border-style: solid;
    outline: none;
    border-radius: 5px;
    cursor: text;
}
.content .body .input_text:hover {
    background-color: #daeef7;
}
.content .body .input_text::placeholder {
    color: #86cfee;
}
.content .body .input_text:focus {
    border-color: #0471a0;
}
.content .body #show_password {
    width: 15px;
    height: 15px;
    border-style: solid;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
.content .body #show_password:checked {
    accent-color: #17b6fa;
}
.content .body .checkbox_label {
    display: inline-block;
    justify-content: center;
    position: relative;
    cursor: pointer;
}
.content .body p {
    margin-top: 10px;
    margin-bottom: 5px;
    cursor: default;
}
.content .body code {
    background-color: gainsboro;
}
.content .body button {
    font-size: 15px;
    font-family: elms-sans;
    width: 150px;
    height: 30px;
    border: none;
    color: white;
    background-color: #86cfee;
    border-radius: 5px;
    cursor: pointer;
}
.content .body button:hover {
    background-color: #00A2E8;
}
.content .body button:active {
    background-color: #0471a0;
}